.header{
  display:flex;
  justify-content: space-between;
   border: 1px solid #ccc;
  border-radius: 4px;
}
.logo{
  width: 90px;

}
.nav-items{
  padding:0px 20px;
}
.nav-items>ul{
  font-size: 24px;
  display:flex;

   list-style-type: none;
}
.nav-items >ul>li{



  padding: 10px;
  margin: 10px;
    

}
.res-card {
  padding:5px;
  width: 300px; 
  border: 1px solid black;
  border-radius: 12px;
  overflow: hidden;
  background-color: rgb(243, 238, 238);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
  cursor: pointer;
}
.res-container{
   display: flex;
   flex-wrap: wrap;
   
  
}

.res-card:hover {
  transform: translateY(-8px);
}
.Search{
  padding:10px;
}
.res-logo{
  width:100%;
  border-radius: 5px;
  
}



